.container {
  height: calc(100% - 162px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

@media screen and (min-width: 890px) {
  .container {
    height: calc(100% - 143px);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: calc(100% - 107px);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
}
