.green,
.button-link.green {
  color: var(--green);
}

.red,
.button-link.red {
  color: var(--red);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button,
.button-link,
.button-border {
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, -webkit-filter 0.2s;
  transition: filter 0.2s, background 0.2s;
  transition: filter 0.2s, background 0.2s, -webkit-filter 0.2s;
  gap: 8px;
}

.button,
.button-border {
  height: 36px;
  min-width: 60px;
  padding: 2px 16px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  font-size: 0.9em;
  background-color: var(--blurple);
  font-weight: 600;
}

.button.green {
  color: #fff;
  background-color: var(--green);
}

.button.red {
  color: #fff;
  background-color: var(--red);
}

.button:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  text-decoration: none;
}

.button:disabled {
  cursor: not-allowed;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.button-border {
  border: 1px solid var(--blurple);
  color: var(--blurple);
}

.button-border.green {
  border-color: var(--green);
}

.button-border.red {
  border-color: var(--red);
}

.button-border:hover {
  text-decoration: none;
  background-color: var(--blurple-t);
}

.button-border.green:hover {
  border-color: var(--green);
  background-color: var(--green-t);
}

.button-border.red:hover {
  border-color: var(--red);
  background-color: var(--red-t);
}

.button-link {
  color: var(--blurple);
}

.button-link:hover {
  text-decoration: underline;
}

.icon {
  width: 18px;
  height: 18px;
}
